* {
	margin: 0;
	padding: 0;
	text-align: center;
}
body{
	width: 100%;
	overflow-x: hidden;
}
li {
	list-style-type: none;
}

.search {
	display: flex;
	justify-content: center;
}

.main {
	display: flex;
	margin: 5px 20px;
	z-index: -2;
}
.main > div{
	margin: auto;
}
.main .main-left {
	margin-right: 30px;
}
.main .main-left > * {
	margin-bottom: 20px;
}
.main .main-left > * > * {
	margin-bottom: 30px;
}
.all_list  li{
	margin-bottom: 10px;
}
.footer {
	background-color: rgb(61, 61, 61);
	color: white;
}
.footer .contact {
	display: flex;
	justify-content: space-around;
}
.footer .contact .member {
	display: flex;
}
.footer .contact .member div {
	margin: 10px 30px;
}
