.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 99;
	width: 500px;
	height: 500px;
	background-color: white;
}
.modal-header {
	display: flex;
	flex-direction: row;
	flex-basis: 100%;
	justify-content: space-between;
	color: rgb(61, 61, 61);
}
.modal-header > * {
	margin: 20px;
}
.modal-header .title {
	margin-left: 40px;
}
.modal-header .close {
	margin-right: 40px;
}
.modal-contents {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
}
.modal-contents > * {
	margin: 10px 50px;
	padding: 10px;
}
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(61, 61, 61, 0.6);
	z-index: 1;
}
