.top {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 5px 10px;
	background-color: rgb(61, 61, 61);
}
.top a {
	margin: 10px;
	color: white;
	cursor: pointer;
	color: rgba(255, 255, 255, 0.8);
}
.top a:hover {
	transform: scale(1.1);
	color: white;
	transition: transform ease-in-out 0.2s;
}
.top a:last-of-type{
	margin-right: 5vw;
}
